@model HIMS.WebMVC.Models.UserTasksListViewModel

@{
    ViewBag.Title = "Tasks";
}

<h2>Hi, dear @(User.IsInRole("admin") ? "administrator!": Model.UserName+"!This is your current task(s):") </h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Start
            </th>
            <th>
                DeadLine
            </th>
            <th>
                Status
            </th>
            <th></th>
            @if(User.IsInRole("admin"))
                {
                    <th>
                        (Available only for Admin)
                    </th>
                }
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserTasksList)
        {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelitem => item.taskId)
            </th>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.taskId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Track", "Create", "TaskTrack", new { id = item.taskId }, new { @class = "btn btn-default" })
            </td>
            @if (User.IsInRole("admin"))
             {
                <td>
                    @Html.ActionLink("Success", "SetTaskAsSuccess", "UserTask", new { userId = item.userId, taskId = item.taskId, isSuccess = true }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Fail", "SetTaskAsSuccess", "UserTask", new { userId = item.userId, taskId = item.taskId, isSuccess = false }, new { @class = "btn btn-danger" })
                </td>
             }

        </tr>
        }
</table>