@model HIMS.WebMVC.Models.UserTasksListViewModel

@{
    ViewBag.Title = "Tasks";
}

<h2>Hi, dear @(User.IsInRole("admin") ? "administrator! This is current task(s) for "+ Model.UserName : Model.UserName + "!This is your current task(s):") </h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Start
            </th>
            <th>
                DeadLine
            </th>
            <th>
                Status
            </th>
            @if (User.IsInRole("user"))
             {
                 <th></th>
             }

            @if (User.IsInRole("admin"))
             {
                <th>
                    (Available only for Admin)
                </th>
             }
        </tr>
    </thead>
    <tbody>
        @{int items = 0;} 
        @foreach (var item in Model.UserTasksList)
    {
            items++;
        <tr>
            <th scope="row">
                @items
            </th>
            <td>
                @Html.ActionLink(item.TaskName, "Details", "Task", new { id = item.TaskId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadlineDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            @if (User.IsInRole("user"))
             {
                <td>
                     @Html.ActionLink("Track", "Create", "TaskTrack", new { taskId = item.TaskId }, new { @class = "btn btn-default" })
                </td>
             }

            @if (User.IsInRole("admin"))
    {
        <td>
            @Html.ActionLink("Success", "SetTaskAsSuccess", "UserTask", new { userId = item.UserId, taskId = item.TaskId, isSuccess = true }, new { @class = "btn btn-success" })
            @Html.ActionLink("Fail", "SetTaskAsSuccess", "UserTask", new { userId = item.UserId, taskId = item.TaskId, isSuccess = false }, new { @class = "btn btn-danger" })
        </td>
}
        </tr>
}
</table>