@model HIMS.WebMVC.Models.TaskViewModel

@{
    /**/

    ViewBag.Title = "Edit Task";
}

<h2>Task - @Model.Name</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DeadlineDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DeadlineDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeadlineDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Label("Members", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="OVERFLOW-Y:scroll; WIDTH:auto; HEIGHT:300px">
            @foreach (var item in @ViewBag.UserList)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="SelectedUsers"
                               value="@item.Value"
                               @if(@ViewBag.TaskUsers.Contains(item.Value)){ <text>checked</text> }/> @item.Text
                               @*@if(Model.SelectedFruits.Contains(item.Value)){ <text>checked</text> }/> @item.Text*@
                        </label>
                    </div>
                }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Grid", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
