@model HIMS.WebMVC.Models.TaskListViewModel

@{
    ViewBag.Title = "Task Page";
}

<h2>Tasks Manage Grid</h2>



<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
</p>
 
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            
            <th>
                Start
            </th>
            <th>
                Deadline
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Tasks.Count(); i++)
    {
        <tr>
            <th scope="row">@(i + 1)</th>
            <td>
                @Html.ActionLink(Model.Tasks.ElementAt(i).Name, "Details", new { id = Model.Tasks.ElementAt(i).TaskId })
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.Tasks.ElementAt(i).StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Tasks.ElementAt(i).DeadlineDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Tasks.ElementAt(i).TaskId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.Tasks.ElementAt(i).TaskId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>