@model HIMS.WebMVC.Models.UserProgressListViewModel

@if (Model.UserName != null)
{
    ViewBag.Title = $"{Model.UserName}'s progress";

    <h2>@($"{ViewBag.Title}:")</h2>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Note</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.UserProgressList.Count(); i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Html.ActionLink(Model.UserProgressList.ElementAt(i).TaskName, "Details", "Task", new { id = Model.UserProgressList.ElementAt(i).TaskId }, null)</td>
                    <td>@Html.DisplayFor(modelItem => Model.UserProgressList.ElementAt(i).TrackNote)</td>
                    <td>@Html.DisplayFor(modelItem => Model.UserProgressList.ElementAt(i).TrackDate)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    ViewBag.Title = "This user has no progress yet.";
    <h2>@ViewBag.Title</h2>
}